// The two classes below courtsey of https://stackoverflow.com/questions/9400615/whats-the-best-way-to-make-a-d3-js-visualisation-layout-responsive
.svg-content-responsive {
    display: inline-block;
    position: relative;
    margin-bottom:15px;
    top: 10px;
    left: 0;
}
.svg-container {
    display: inline-block;
    position: relative;
   vertical-align: top;
   @include media-breakpoint-down(sm){
    position:relative;
   }
}
// ----------------------------

// The styling below rotated the bar chart 90 degrees on mobile, this was removed since it was easier to generate a rowchart that shows on mobile instead
// svg{
    
//      @include media-breakpoint-down(sm){
//          position: absolute;
//         transform: rotate(90deg) translateX(400px) translateY(375px);
        
//         g.x{
//             text{
//                  color:white;
//                  transform:rotate(270deg) translateX(55px);
//                  &:last-of-type{
//                      transform:rotate(270deg) translateX(65px);
//              }
//          }
       


//      }
// }

#button_container{
    @include make-col(12);
    button{
        width:100%;
        padding: 5px 0 5px 0;
        border-radius:5px;
        border-color:#FFF;
        &.halfwidth{
            width:50%;
        }
    }
    @include media-breakpoint-down(sm){
        button{
            @include make-col(6);
        }
    }
}